body {
  font-family: 'Vazirmatn', sans-serif;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  width: 300px;
  text-align: center;
}

.form-icon {
  width: 60px;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

form button {
  width: 100%;
  padding: 12px;
  background: #1ba89c;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

form button:hover {
  background: #159387;
}
